/*BACKGROUNDS COLORS*/
/*TEXT COLORS*/
/*BORDERS COLORS*/
/*BACKGROUNDS COLORS*/
/*TEXT COLORS*/
/*BORDERS COLORS*/
header {
  background-color: red;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav {
  width: 30%;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

body {
  background-color: black;
  color: white;
}
body .main-content {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  border: black solid;
  width: auto;
  height: auto;
}
body .main-content .separator {
  height: 30px;
  width: 100%;
}
body .main-content #Best-rated-movie-container {
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  border: solid 5px rgba(255, 255, 255, 0.5);
  margin: auto;
  width: 95%;
  height: auto;
  padding: 5px 5px 5px 5px;
}
body .main-content #Best-rated-movie-container:hover {
  box-shadow: -3px 3px white;
  border: solid 5px white;
}
body .main-content #Best-rated-movie-container #Best-rated-movie-image {
  position: relative;
  z-index: -1;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
body .main-content #Best-rated-movie-container #Best-movie-text-and-button-zone {
  background-position: left;
}
body .main-content #Best-rated-movie-container #Best-movie-text-and-button-zone .modal {
  display: none;
  position: fixed;
  left: 30%;
  top: 30%;
  z-index: 1;
  width: 50%;
  height: 50%;
  overflow: auto;
  background-color: black;
  border: solid black;
}
body .main-content .Best-movies-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 5px 5px 5px;
}
body .main-content .Best-movies-container h3 {
  color: white;
  text-decoration: none;
}
body .main-content .Best-movies-container .carrousel {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
body .main-content .Best-movies-container .carrousel .movie-box {
  width: auto;
  height: auto;
  border: solid rgba(255, 255, 255, 0.5);
  box-shadow: -3px 3px 0 rgba(255, 255, 255, 0.5);
}
body .main-content .Best-movies-container .carrousel .movie-box:hover {
  box-shadow: -3px 3px white;
  border: solid white;
}
body .main-content .Best-movies-container .carrousel .arrow-right, body .main-content .Best-movies-container .carrousel .arrow-left {
  width: 50px;
  height: 50px;
  transition: 0.5s;
  float: left;
  box-shadow: -2px 2px 0 rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
body .main-content .Best-movies-container .carrousel .arrow-right:hover, body .main-content .Best-movies-container .carrousel .arrow-left:hover {
  box-shadow: -3px 3px white;
}
body .main-content .Best-movies-container .carrousel .arrow-left {
  transform: rotate(45deg);
}
body .main-content .Best-movies-container .carrousel .arrow-right {
  transform: rotate(225deg);
}

/*# sourceMappingURL=style.css.map */
