@import "./utils/variables";
@import "./utils/mixins";

header{
    background-color: $header_background_color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    nav{
        width: 30%;
        ul{
            display: flex;
            justify-content: space-around;
            list-style: none;
        }
    }    
}


body{
    background-color: $body_background_color;
    color: $body_text_color;
    .main-content{
        display: flex;
        flex-direction: column;
        align-content: space-around;
        @include main-content-border;
        width: auto;
        height: auto;
        .separator{
            height: 30px;
            width: 100%;
        }
        #Best-rated-movie-container{
            @include best-movie-container;
            &:hover{
                @include movie-box-shadow-hover;
                border: solid 5px $carrousel_border_color_hover;
            };
            #Best-rated-movie-image{
                position: relative;
                z-index: -1;
                background-position: right;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                justify-content: flex-end;
                width: 100%;
            };
            #Best-movie-text-and-button-zone{
                background-position: left;
            }
        };
        .Best-movies-container{
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5px 5px 5px 5px;
            h3{
                color: $h3_text_color;
                text-decoration: none;         
            };
            .carrousel{
                display: flex;
                align-items: center;
                margin: auto;
                .movie-box{
                    width: 300px;
                    height: 300px;
                    border: solid $carrousel_border_color;
                    box-shadow: -3px 3px 0 $carrousel_border_color;
                    &:hover{
                        @include movie-box-shadow-hover;
                        border: solid $carrousel_border_color_hover;
                    }
                };
                .arrow-right, .arrow-left{
                    width: 50px;
                    height: 50px;
                    transition: .5s;
                    float: left;
                    box-shadow: -2px 2px 0 $carrousel_border_color;
                    cursor: pointer;
                    &:hover{
                        @include movie-box-shadow-hover;
                    }
                };
                .arrow-left{
                    transform: rotate(45deg);
                };
                .arrow-right{
                    transform: rotate(225deg);
                };                
            }
        }

    }
}

