header{
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    nav{
        width: 30%;
        ul{
            display: flex;
            justify-content: space-around;
            list-style: none;
        }
    }    
}


body{
    background-color: black;
    color: white;
    .main-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        border: red solid;
        width: auto;
        height: auto;
        .Best-movies-container{
            border: white solid;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3{
                color: white;
                text-decoration: underline;
            }
        }
    }
}

