@import "./utils/variables";
@import "./utils/mixins";

header{
    background-color: $header_background_color;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    nav{
        width: 30%;
        ul{
            display: flex;
            justify-content: space-around;
            list-style: none;
        }
    }    
}


body{
    button:hover{
        cursor: pointer;
    };
    background-color: $body_background_color;
    color: $body_text_color;
    .main-content{
        display: flex;
        flex-direction: column;
        align-content: space-around;
        @include main-content-border;
        width: auto;
        height: auto;
        .separator{
            height: 30px;
            width: 100%;
        }
        #Best-rated-movie-container{
            @include best-movie-container;
            &:hover{
                @include movie-box-shadow-hover;
                border: solid 5px $carrousel_border_color_hover;
            };
            #Best-rated-movie-image{
                position: relative;
                z-index: -1;
                background-position: right;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                justify-content: flex-end;
                width: 100%;
            };
            #Best-movie-text-and-button-zone{
                background-position: left;
                .modal{
                    @include more-info-modal;
                    .close{
                        @include modal-close;
                        &:hover{
                            background-color: red;
                            font-weight: bolder;
                        }
                    }
                    #best-movie-modal-content{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }
            }
        };
        .Best-movies-container{
            @include best-movies-container;
            .modal{
                @include more-info-modal;
                .close{
                    @include modal-close;
                    &:hover{
                        background-color: red;
                        font-weight: bolder;
                    }
                }
                .Category-modal-content{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;  
                }
            }
            h3{
                color: $h3_text_color;
                text-decoration: none;         
            };
            .carrousel{
                display: flex;
                width: 100%;
                justify-content: space-around;
                align-items: center;
                margin: auto;
                .movie-box{
                    width: auto;
                    height: auto;
                    border: solid $carrousel_border_color;
                    box-shadow: -3px 3px 0 $carrousel_border_color;
                    &:hover{
                        @include movie-box-shadow-hover;
                        border: solid $carrousel_border_color_hover;
                        cursor: pointer;
                    }
                };
                .arrow-right, .arrow-left{
                    width: 50px;
                    height: 50px;
                    transition: .5s;
                    float: left;
                    box-shadow: -2px 2px 0 $carrousel_border_color;
                    cursor: pointer;
                    &:hover{
                        @include movie-box-shadow-hover;
                    }
                };
                .arrow-left{
                    transform: rotate(45deg);
                };
                .arrow-right{
                    transform: rotate(225deg);
                };                
            }
        }

    }
}

