/*BACKGROUNDS COLORS*/
$header_background_color: red;
$body_background_color: black;

/*TEXT COLORS*/
$body_text_color:white;
$h3_text_color: white;


/*BORDERS COLORS*/
$main_content_border_color: black;
$carrousel_border_color: rgba(255, 255, 255, 0.5);
$carrousel_border_color_hover:rgba(255, 255, 255, 1);
