@import "./variables";

@mixin main-content-border {
    border: $main_content_border_color solid;
}

@mixin movie-box-shadow-hover {
    box-shadow: -3px 3px $carrousel_border_color_hover;
}

@mixin best-movie-container {
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    border: solid 5px $carrousel_border_color;
    margin: auto;
    width: auto;
    height: auto;
    padding: 5px 5px 5px 5px;
}