@import "./variables";

@mixin main-content-border {
    border: $main_content_border_color solid;
}

@mixin movie-box-shadow-hover {
    box-shadow: -3px 3px $carrousel_border_color_hover;
}

@mixin best-movie-container {
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    border: solid 5px $carrousel_border_color;
    margin: auto;
    width: 95%;
    height: auto;
    padding: 5px 5px 5px 5px;
    @media (max-width: 599px) {
        flex-direction: column-reverse;
    }
}

@mixin best-movies-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 5px 5px 5px;
}

@mixin more-info-modal {
    display: none;
    position: fixed;
    left: 15%;
    top: 30%;
    z-index: 1;
    width: 70%;
    height: 50%;
    overflow: auto;
    background-color: $body_background_color;
    border: solid 5px $carrousel_border_color;
}

@mixin modal-close {
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
    width: 20px;
    height: 20px;
}