/*BACKGROUNDS COLORS*/
$header_background_color: red;
$body_background_color: black;

/*TEXT COLORS*/
$body_text_color:white;
$h3_text_color: white;


/*BORDERS COLORS*/
$main_content_border_color: red;
